@import "~bootstrap/scss/bootstrap";

.my-card {
  position: absolute;
  width: 18rem
}

.my-card input {
  width: 5rem
}

.my-card-content img {
  width: 15rem
}

.float-right {
  float: right;
}

i {
  margin: 0.2rem;
}

.hidden {
  display: none;
}